@model ZauberbuchViewModel
@{
    ViewData["Title"] = "Grimoire";
}

<h1>Grimoire für Level 1</h1>
<p>Glück: @Model.Glueck</p>
<p>Intelligenz: @Model.Intelligenz</p>
@foreach (var zauber in Model.Zauberbuch)
{
    <p>
        (@zauber.Wurf) <strong>@zauber.Name</strong> (S. @zauber.Seite)<br />
        @zauber.Beschreibung<br />
        <strong>Manifestation:</strong> @zauber.Manifestation.Beschreibung<br />
        @if (zauber.LaunenDerMagie != null && zauber.LaunenDerMagie.Count > 0)
        {
            <strong>Launen der Magie:</strong>
        @foreach (var laune in zauber.LaunenDerMagie)
        {
            <text>(</text>@laune.Wurf<text>) </text>
            @laune.Beschreibung<br />
        }
        }
    </p>
    <hr />
}
