@model CharacterViewModel

@{
    ViewData["Title"] = "Dungeon Crawl Classics - Charaktergenerator";
}
<h1>Dungeon Crawl Classics - Charaktergenerator</h1>
<p>
    Bei jedem Laden der Seite warten 4 neue Dörfler darauf dem sicheren Tod zu trotzen, wie @(((long)Context.Items["count"] - 1) * 4) vor ihnen.
    Basierend auf der deutschen Übersetzung von DCC von <a href="https://www.system-matters.de/produkt/dungeon-crawl-classics/">System Matters</a>.<br />
    <a asp-controller="Character" asp-action="Index">Neu &#x1F3B2;</a><br />
</p>

<h2>Morituri te salutant</h2>
<a asp-controller="Character" asp-action="Print" asp-route-seed="@Model.Seed">Als PDF herunterladen</a>
<div class="charaktere">
    @foreach (var charakter in Model.Characters)
    {
        <div class="charakter">
            <h3>@charakter.Beruf.Name</h3>
            <table>
                <tbody>
                    <tr>
                        <th>Stärke:</th>
                        <td>@charakter.Attribute.Stärke.Format()</td>
                    </tr>
                    <tr>
                        <th>Geschicklichkeit:</th>
                        <td>@charakter.Attribute.Geschicklichkeit.Format()</td>
                    </tr>
                    <tr>
                        <th>Ausdauer: </th>
                        <td>@charakter.Attribute.Ausdauer.Format()</td>
                    </tr>
                    <tr>
                        <th>Persönlichkeit:</th>
                        <td>@charakter.Attribute.Persönlichkeit.Format()</td>
                    </tr>
                    <tr>
                        <th>Intelligenz:</th>
                        <td>@charakter.Attribute.Intelligenz.Format()</td>
                    </tr>
                    <tr>
                        <th>Glück:</th>
                        <td>@charakter.Attribute.Glück.Format()</td>
                    </tr>
                    <tr><td><br /></td><td><br /></td></tr>
                    <tr>
                        <th>Zähigkeit:</th>
                        <td>@charakter.Zähigkeit</td>
                    </tr>
                    <tr>
                        <th>Willenskraft:</th>
                        <td>@charakter.Willenskraft</td>
                    </tr>
                    <tr>
                        <th>Reflexe:</th>
                        <td>@charakter.Reflexe</td>
                    </tr>
                    <tr><td><br /></td><td><br /></td></tr>
                    <tr>
                        <th>Trefferpunkte:</th>
                        <td>@charakter.Trefferpunkte</td>
                    </tr>
                    <tr>
                        <th>Rüstungsklasse:</th>
                        <td>@charakter.Rüstungsklasse</td>
                    </tr>
                    <tr>
                        <th>Initiative:</th>
                        <td>@charakter.Initiative</td>
                    </tr>
                    <tr><td><br /></td><td><br /></td></tr>
                    <tr>
                        <th>Geburtszeichen:</th>
                        <td>@charakter.Geburtszeichen.Format()</td>
                    </tr>
                    <tr><td><br /></td><td><br /></td></tr>
                    <tr>
                        <th>Startwaffe:</th>
                        <td>@charakter.Beruf.Startwaffe (@charakter.Beruf.Schaden)</td>
                    </tr>
                    <tr>
                        <th>Handelsware:</th>
                        <td>@charakter.Beruf.Handelsware</td>
                    </tr>
                    <tr>
                        <th>Ausrüstung: </th>
                        <td>@charakter.Ausrüstung.Gegenstand (Wert: @charakter.Ausrüstung.Preis)</td>
                    </tr>
                    <tr>
                        <th>Startkapital: </th>
                        <td>@charakter.Startkapital</td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(charakter.Beruf.Rassenvorteile()))
                    {
                        <tr>
                            <th>Rasseneigenschaften: </th>
                            <td>@charakter.Beruf.Rassenvorteile()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

